<h1>Portafolio de {{dato.Nombre}}</h1>

<div id="cmiscelaneos">
  <div class="fotoperfil">
  <img src="{{dato.FotoPerfil}}" alt="perfil" />
  </div>
  <h2>Confirma tus datos</h2>
  <div class="sbook"> 
<div class="resultado">{{dato.Nombre}}</div>
<div class="resultado">{{dato.Presentacion}}</div>

<div class="portafolio_img">

	{{#each dato.Portafolio}}
			<img src="{{.}}" />
			  
	{{/each}}
</div>
</div>

<a class="btn-continuar">Listo!</a>